<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invetory Application</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="bg-gray-800">
    <header class="bg-gray-700">
      <nav class="flex justify-between items-center p-4">
        <a href="/" class="text-white text-2xl font-semibold"
          >Inventory Application</a
        >
        <div class="space-x-4">
          <a
            class="text-white hover:bg-gray-400 hover:rounded p-2"
            href="/products"
            >Products</a
          >
          <a
            class="text-white hover:bg-gray-400 hover:rounded p-2"
            href="/categories"
            >Categories</a
          >
        </div>
      </nav>
    </header>
    <main class="px-3">
      <a
        href="/products/addproduct"
        class="bg-green-500 text-white px-2 py-1 my-4 inline-block rounded"
        >Add Product</a
      >

      <h2 class="text-xl text-green-700 font-semibold mb-2">
        Available Products:
      </h2>

      <div class="flex flex-wrap gap-4">
        <% products.forEach((product) => { %>
        <div class="bg-gray-700 shadow rounded p-4">
          <div class="flex justify-between mb-2">
            <a
              href="/products/<%= product.id %>/update"
              class="bg-blue-500 px-2 py-1 rounded text-white"
              >Update</a
            >
            <form
              action="/products/<%= product.id %>/delete"
              method="POST"
              class="delete-form"
            >
              <button
                type="submit"
                onclick="return confirm('Are you sure you want to delete this product?');"
                class="bg-red-500 px-2 py-1 rounded text-white"
              >
                Delete
              </button>
            </form>
          </div>

          <h2 class="text-xl text-white font-semibold"><%= product.name %></h2>
          <p class="text-white">Description: <%= product.description %></p>
          <p class="text-white">Price: <%= product.price %></p>
          <p class="text-white">
            Stock Quantity: <%= product.stock_quantity %>
          </p>
          <p class="text-white">CategoryId: <%= product.category_id %></p>
          <small class="text-white"
            >Added on: <%= product.created_at.toLocaleString() %></small
          >
        </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
